    .projectshero {
        background-color: rgb(68, 114, 196);
    }
    /* Nav bar list items */
    
    .othernav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 15px;
        justify-content: flex-end;
        gap: 25px;
        color: rgb(68, 114, 196);
        font-size: 2rem;
        text-decoration: none;
    }
    
    .othernav a {
        padding: 5px;
        border-radius: 10px;
        border-style: solid;
        color: #bdcff0;
        font-size: 1.25rem;
    }
    
    .pagetitle {
        color: #bdcff0;
        text-align:center;
    }
    
    #projectgrid {
        background-color: white;
        gap: 25px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    #projectgrid>div {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    
    #projectgrid>div>a {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        color: rgb(68, 114, 196);
        ;
    }
    
    #projectgrid img {
        border-radius: 10%;
        width: 300px;
        height: 300px;
    }
    
    @media screen and (max-width: 1200px) {
        #projectgrid {
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            min-height: 100vh;
        }
    }
    
    @media screen and (max-width: 800px) {
        #projectgrid {
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr;
            min-height: 100vh;
        }
        #projectgrid img {
            border-radius: 10%;
            width: 200px;
            height: 200px;
        }
    }


    .projectcontent {

        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 75%;
        margin:auto;
        gap: 50px;
    }

    .projectcontent >h1{
        text-align: center;
    }

    .mainprojimg    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mainprojimg>img   {
       
        border-radius: 100px;
        padding: 10px;
        width: 1024px;
        height: 1024px;
    }

    .mainprojimg > p    {
        text-align: center;
    }

    video, iframe  {
        border: none;
        width: 1024px;
        height: 504px;        
    }

    .minorprojimg   {
        border-radius: 100px;
        padding: 10px;
        width: 512px;
        height: 512px;

    }



    @media screen and (max-width: 1200px)    {

        video, iframe  {

            width: 512px;
            height: 288px;        
        }

        .mainprojimg >img  {

            width: 512px;
            height: 512px;
     
        }

        .minorprojimg   {
            border-radius: 50px;
            padding: 10px;
            width: 256px;
            height: 256px;
    
        }

    }

    @media screen and (max-width: 600px)    {
        video, iframe  {

            width: 256px;
            height: 144px;        
        }

        .mainprojimg >img  {

            width: 256px;
            height: 256px;
            border-radius: 20px;
     
        }
        
    }

    #gallery    {
        background: white;
        text-align: center;

    }

    .gallery    {

        display: grid;
        grid-template: auto;

    }