    .projectshero {
        background-color: rgb(68, 114, 196);
        padding: 5px;
        
    }
    /* Nav bar list items */
    
    .othernav ul {
        display: grid;
        grid-template-areas : 
        "title title title title title title title homeli projectsli";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        list-style-type: none;
        padding: 15px;
        justify-content: center;
        align-items: center;
       
        gap: 25px;
        color: rgb(68, 114, 196);
        font-size: 2rem;
        text-decoration: none;
        


    }

    @media screen and (max-width: 800px) {
        .othernav ul {
            grid-template-areas : "title title" "homeli projectsli";
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
        }
    }

    #titleli {
        
     
        grid-area: title;
    }
    
    #homeli {
      
        grid-area: homeli;
    }

    #projectsli {

        grid-area: projectsli;
    }

    .othernav a {

        display: flex;
        align-items: center;
        justify-content: center;

    
        padding: 5px;
        border-radius: 10px;
        border-style: solid;
        color: #bdcff0;
        font-size: 1.25rem;
    }
    
    .pagetitle {
        grid-area: title;
        color: #bdcff0;
        text-align:left;
    }
    
    #projectgrid {
        background-color: white;
        gap: 25px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    #projectgrid>div {
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    
    #projectgrid>div>a {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        color: rgb(68, 114, 196);
        ;
    }
    
    #projectgrid img {
        border-radius: 5%;
        width: 300px;
        height: 300px;
    }
    
    @media screen and (max-width: 1400px) {
        #projectgrid {
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            min-height: 100vh;
        }
    }
    
    @media screen and (max-width: 800px) {
        #projectgrid {
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr;
            min-height: 100vh;
        }
        #projectgrid img {
            border-radius: 5%;
            width: 200px;
            height: 200px;
        }
    }


    .projectcontent {

        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 75%;
        margin:auto;
        gap: 50px;
    }

    .projectcontent >h1{
        text-align: center;
    }

    .mainprojimg    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mainprojimg>img   {
       
        border-radius: 20px;
        padding: 10px;
        width: 1300px;
        height: 731px;
        object-fit: cover;
        
    }

    .mainprojimg > p    {
        text-align: center;
    }

    video, iframe  {
        border: none;
        width: 1024px;
        height: 504px;        
    }

    .minorprojimg   {
        border-radius: 5%;
        padding: 10px;
        width: 512px;
        height: 512px;

    }

    .gallery .minorprojimg:hover{
        transform: scale(1.5);
    }



    @media screen and (max-width: 1400px)    {

        video, iframe  {

            width: 512px;
            height: 288px;        
        }

        .mainprojimg >img  {

            height: 438px;
            width: 780px;
            
     
        }

        .minorprojimg   {
            border-radius: 5%;
            padding: 10px;
            width: 384px;
            height: 384px;
        
    
        }

    }

    @media screen and (max-width: 800px)    {
        video, iframe  {

            width: 256px;
            height: 144px;        
        }

        .mainprojimg >img  {

            width: 80vw;
            height: 45vw;
            border-radius: 15px;
         
     
        }

        .minorprojimg   {
            border-radius: 5%;
            padding: 10px;
            width: 256px;
            height: 256px;
    
        }

        .figs{
            flex-direction: column;
        }
        
    }

    .gallery    {
        background: white;
        text-align: center;
        display: grid;
        grid-template: auto;

    }


    .figs {

        display: flex;
        justify-content: center;
        align-items: center ;

    }

    .codedemo   {
        display: flex;
        align-items: center;
        justify-content: stretch;


    

    }

    .code, .demo {
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        border-style: solid;
        color: rgb(68, 114, 196);
        font-size: 1.25rem;

    }

