@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round';
}

html, body {
    min-height: 100vh;
}

body section {
    background-color: green;
    padding: 2rem;
}

h1  {
    font-size: 5rem;
}

#aboutme {
    min-height: 50vh;
    display: flex;
    background-color: white;
}

#aboutme .icons img {
    width: 50px;
}

#aboutme > div  {
    max-width: 75%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
}

#myprojects {
    background-color: orange;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 1fr 1fr 1fr;
    color: white;
}

#myprojects a {
    border-style: solid;
    text-decoration: none;
    padding: 10px;
    color: white;
}

#footer {
    background-color: white;
    text-align: center;
}