
/**************************************************************************
*   Font
**************************************************************************/


@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


/**************************************************************************
*   All
**************************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round';
    
}

/**************************************************************************
*   Util classes
**************************************************************************/

/* Color */
.dark-blue {
    color: rgb(68,114,196);
}

.light-blue {
    color: #BDCFF0;
}

.dark-blue-background {
    background-color: rgb(68,114,196);
}

.light-blue-background {
    background-color: #BDCFF0;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Font */
.medium-font {
    font-size: calc(1.5vw + 5px);
}

.large-font {
    font-size: 7vw;
    font-weight: bolder;
}


/* Layout */
.center-in-container    {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.centered-text   {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px

   
}

.col {   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row    {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.bottom-right   {
    padding: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.top-left  {
    padding: 50px;
    position: absolute;
    top: 0;
    left: 0;
}


.full-screen-height    {
    height: 100vh;
    
}

.half-screen-height    {
    height: 50vh;
    
}

.quarter-screen-height    {
    height: 25vh;
    
}

.full-height    {
    height: 100%;
}


.auto-height   {
    height: auto;
}


/* Nav Bar*/
.nav {
    position: absolute;
    z-index: 1;
    right: 0;
    width: auto;
    /*Text to the right */
    padding: 20px;

    list-style: none;
    
    text-align: right;
    display: flex;

    justify-content: flex-end;

}

.nav li{  
    padding: 10px;
}


/* Logo */

.logo   {
    
    height: 50px;
    width: 50px;
}

.circle-img {
    border-radius: 50%;
    
    height: calc(10vw + 50px);
    width: calc(10vw + 50px);

}






/**************************************************************************
*   Html Elements
**************************************************************************/

/*Links */
a {
    text-decoration: none;
    
    
}


p   {
    padding: 30px;
}

  
/**************************************************************************
* Home Page
**************************************************************************/

/* Split */

#home-top-one  {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;

    padding: 30px;

}

#home-top-two  {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 50%;
    height: 100%;

    padding: 30px;
}


.light-dark-blue {

    color: #BDCFF0;

}

@media screen and (max-aspect-ratio: 1/1)    {

    #home-top-one  {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
    
    }
    
    #home-top-two  {
        position: absolute;
        bottom: 0;
        right: 0;
    
        width: 100%;
        height: 50%;
    
    }

    .light-dark-blue {

        color: #BDCFF0;
        color: rgb(68,114,196);
    
    }

}

/* portfolio img */

#port-img {

    --size: calc(20vw + 125px);
    width: var(--size);
    height: var(--size);


    z-index: 1;

    

    border-radius: 5%;
}

#proj-window    {
    padding: 0px;
}




#text-box   {
    margin: auto;
    border-radius: 5px;

}


/* Fix padding bottom */
#proj-button    {
    margin: auto;
    padding: 20px;
}


