@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* All */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round';
    
}

/* Nav Bar*/
#nav {
    /*Text to the right */
    padding: 20px;
    
    text-align: right;
}

/* Nav list items in a line */
#nav li{
    display: inline;
    padding: 5px;
}

/*Links */
a {
    text-decoration: none;
    font-size: 2vw;
    color: lightblue;
}



/* Split the screen in half */
.split {
    height: 80%;
    width: 50%;
    position: fixed;
    top: 0;
    
}


/* Control the left side */
.left {
    left: 0;
    background-color:lightblue;
    color: rgb(8, 99, 184);;
    
    
}
  
/* Control the right side */
.right {
    text-align: right;
    right: 0;
    background-color:rgb(8, 99, 184);
    color: lightblue;
    
    
}

.title {
    padding: 30px;
    font-size: 5vw;
    font-weight: bolder;
}

#first-name {
    position: absolute;
    top: 0;
    left: 0;
    
}

#last-name {

    position: absolute;
    bottom: 0;
    right: 0;
    
}

